<div class="container mt-3">
  <nav class="nav-bar mb-3">
    <a class="navbar-brand" href="#">Input Page</a>
  </nav>
  <div class="card">
    <p class="card-header">table input</p>
    <input class="form-control mb-5 card-body" type="file" class="upload" (change)="changeListener($event.target.files)">
  </div>
  <table class="table table-bordered table-dark mt-5">
    <thead>
    <tr>
      <th *ngFor="let item of lines[0]">{{item}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of linesR[0]; index as j">
      <td *ngFor="let data of row">{{data}}</td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="features != null">Features: {{features}}</p>
  <p *ngIf="dataPoints != null">Data Points: {{dataPoints}}</p>
  <div *ngIf="features != null" class="card">
    <p class="card-header">Please select your input features</p>
    <div *ngFor="let feature of featureArray; index as i">
      <label>{{feature}}</label>
      <input type="checkbox" [(ngModel)]="featureSelect[i]">
    </div>
    <p class="card-header">Please select your target feature</p>
    <div *ngFor="let feature of featureArray; index as i">
      <div *ngIf="!featureSelect[i]">
        <label>{{feature}}</label>
        <input name="options" ng-control="options" type="radio" [value]="i"  [(ngModel)]="target" >
      </div>
    </div>
    <button class="btn btn-primary" (click)="generate()">Generate Data</button>
  </div>
</div>
