<div class="container-md mt-3">
  <nav class="nav-bar mb-3">
    <a class="navbar-brand" href="#">Input Page</a>
  </nav>
  <div>
    <h2>Table input</h2>
    <input class="form-control" type="file" class="upload" (change)="changeListener($event.target.files)" name="">
  </div>
  <span *ngIf="features" class="table-add float-right mb-3 mr-2">
        <button class="btn-primary mt-3" (click)="add()">Add row</button>
  </span>
  <table class="table table-bordered table-editable mt-5">
    <thead>
      <tr>
        <th *ngFor="let item of lines[0]">{{item}}</th>
        <th *ngIf="features">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of linesR[0]; index as j">
        <td *ngFor="let data of row; index as ind">
          <span (keyup)="changeValue(j, ind, $event)" (blur)="updateList(j, ind, $event)" contenteditable="true">{{data}}</span>
        </td>
        <td *ngIf="dataPoints>j">
            <span class="table-remove">
              <button class="btn-danger" (click)="remove(j)">Remove</button>
            </span>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="features != null">Features: {{features}}</p>
  <p *ngIf="dataPoints != null">Data Points: {{dataPoints}}</p>
  <div *ngIf="features != null" class="row">
    <div class="col-sm">
      <div class="card card-body border-dark">
        <h3 class="card-title">Please select your input features</h3>
        <div *ngFor="let feature of featureArray; index as i">
          <input class="form-check-input" type="checkbox" [(ngModel)]="featureSelect[i]">
          <label class="form-check-label">{{feature}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-body border-dark">
        <h3 class="card-title">Please select your target feature</h3>
        <div *ngFor="let feature of featureArray; index as i">
          <div *ngIf="!featureSelect[i]">
            <label>{{feature}}</label>
            <input name="options" ng-control="options" type="radio" [value]="i"  [(ngModel)]="target" >
          </div>
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="features" class="btn btn-primary btn-lg mt-3 mb-3" type=submit (click)="generate()">Generate Data</button>

</div>
